.button:hover{
    -fx-border-color:  #FFC500;
    -fx-border-width: 3;

}
.button{
    -fx-background-color: #141414 ;
    -fx-border-color: #393939;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 3;
    -fx-font-size: 20;
    -fx-font-family: "Nirmala UI";
    -fx-text-fill: white;
}
.button_menu:hover{

    -fx-background-color: #FFC500;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: black;

}
.button_menu{
    -fx-background-color: transparent ;
    -fx-border-color: transparent;
    -fx-font-size: 35;
    -fx-pref-width: 560;
    -fx-pref-height: 85;
    -fx-font-family: "Nirmala UI";
    -fx-text-fill: white;
}
.catalog{
    -fx-alignment: center;
    -fx-background-color: transparent ;
    -fx-font-size: 30;
    -fx-font-family: "Nirmala UI";
    -fx-text-fill: white;
}
.label{
    -fx-font-family: "Nirmala UI";
    -fx-alignment: center;
    -fx-text-fill: white;
}
.label2{
    -fx-font-family: "Nirmala UI";
    -fx-text-fill: white;
    -fx-alignment: center;

    -fx-font-size: 35;
}
.label3{
    -fx-font-family: "Nirmala UI";
    -fx-text-fill: white;
    -fx-alignment: center-left;

    -fx-font-size: 30;
}
.root{
    -fx-background-color:  linear-gradient(to bottom, #343434, #282828, #1d1d1d, #121212, #000000);
}
.text-field{
    -fx-border-color: #343434;
    -fx-background-color: #141414;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: white;
}
.password-field{
    -fx-border-color: #343434;
    -fx-background-color: #141414;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: white;
}
.scroll-pane{
    -fx-background-color: #141414;
}
.combo-box{
    -fx-border-color: #343434;
    -fx-background-color: #141414;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: white;
}


.list-view{
    -fx-background-color: linear-gradient(to bottom, #343434, #282828, #1d1d1d, #121212, #000000);
}

.anchor{
    -fx-background-color: linear-gradient(to bottom, #343434, #282828, #1d1d1d, #121212, #000000);
    -fx-font-size: 28;
    -fx-font-family: "Nirmala UI";
    -fx-alignment: center-left;
    -fx-text-fill: white;
}






.table-view{
    -fx-background-color: transparent;
}





.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #343434, #282828, #1d1d1d, #121212, #000000);
}

.table-column{
    -fx-background-color: transparent;
    -fx-font-family: "Nirmala UI";
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 25;
}

.table-view .column-header {
    -fx-background-color: transparent;
}



.table-row-cell{

    -fx-font-family: "Nirmala UI";
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: #202020;
    -fx-table-cell-border-color: transparent;
    -fx-cell-size: 130;

}


.table-row-cell:selected {
    -fx-background-color: #343434;

}
.table-row-cell:hover {
    -fx-background-color: #343434;

}


























.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #343434;
    -fx-background-radius: 5;
}
.scroll-pane > .corner {
    -fx-background-color: #141414;
}
